/.quarto/
# R stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Quarto stuff
/.quarto/
_site/*
_site/
**/*_cache/*
/_site
# Miscellaneous stuff
design-assets/*
static/etc/*
.DS_Store

/.luarc.json
.aider*
**/*.quarto_ipynb
